{#TODO translate#}
<html>
    <body>
        <h1>Bonjour {{username}} !</h1>
        <p>Pour valider votre compte utilisateur, merci de vous rendre sur <a href="{{ signedUrl }}">{{ signedUrl }}</a></p>
        <p style="color: red">Attention, ce lien expirera le {{ linkExpiresAt|date('d/m/Y \à H:i') }}</p>
        <p>Vous devrez choisir un mot de passe pour achver la création de votre compte.</p>
        <p>Cordialement,<br/>L'équipe Shinigami Laser</p>
    </body>
</html>