@import '~bootstrap';
/*@import "~font-awesome/css/font-awesome.min.css";*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "variables.css";
@import "login.css";
@import "account.css";
@import "nav.css";
/*@import "~cookieconsent/build/cookieconsent.min.css";*/
@import "sidebar.css";
@import "footer.css";
@import "carousel.css";
@import "centers.css";
@import "search-card.css";
@import "create-game.css";
@import "concept.css";
/*@import "~dropify/dist/css/dropify.min.css";*/
/*@import "~bootstrap-toggle/css/bootstrap-toggle.min.css";*/
@import "games.css";

html {
    font-size:16px;
}

body {
    padding-top: 3.5rem;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 3rem;
    margin: 0 0 64px;
}

h2 {
    text-align: center;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 2.5rem;
    margin: 64px 0;
}

h3 {
    text-align: center;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 2rem;
    margin: 64px 0;
}

h4 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    html {
        font-size:14px;
    }
}

.btn.btn-warning {
    background-color: var(--main-color-orange );
    border-color: var(--main-color-orange );
    color: #FFFFFF;
}

.btn.btn-warning:hover {
    filter: brightness(90%);
}

.fieldset {
    border: 1px solid #eeeeee;
    padding: 0 1.4em 1.4em 1.4em;
}

.fieldset legend {
    display: inline;
    padding: 5px;
    width: initial;
}
img.featurette-image {
    min-width: 100%;
    max-width: 100%;
    width: 445px;
    height: 445px;
    object-fit: cover;
    object-position: 20% 50%;
}

.bg-dark {
    background-color: black!important;
}

img.article-image {
    min-width: 100%;
    max-width: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 20% 50%;
}

.fa {
    padding-right: 5px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.form-row-with-error {
    height: 7rem;
}

.alert {
    position: absolute;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    left: 50%;
    width: 90vw;
    top: 5rem;
}