{% trans_default_domain 'footer' %}

<footer class="bg-dark pt-5 pb-5">
    <div class="container">

       <div class="row">
            <div class="footer-sub col-lg-4">
                <h5 class="card-title">{{ 'about' | trans | upper }}</h5>
                <p class="card-text">Les plus grands laser games de Bourgogne vous proposent une expérience de jeu fabuleuse.
                    Venez vous affronter dans des labyrinthes aux décors fantastiques. Immersion totale garantie !
                </p>
            </div>

           <div class="footer-sub col-lg-4">
                    <h5 class="card-title">{{ 'mentions' | trans | upper }}</h5>
                    <p class="card-text">{{ 'mentions.read' | trans }}</p>
            </div>

           <div class="footer-sub col-lg-4">
               <h5 class="card-title">{{ 'follow' | trans | upper }}</h5>
               <p class="card-text">
                   <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FShinigami-Laser-272555386796803%2F&tabs=timeline&width=250&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
               </p>
           </div>
        </div>

        <p>&copy; 2021 copyright</p>
    </div>
</footer>