<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="employees">
                    <p class="counter-count" data-count="{{ userPlayGames | length }}">0</p>
                    <p class="employee-p">Parties jouées</p>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="customer">
                    <p class="counter-count" data-count="{{ victories }}">0</p>
                    <p class="customer-p">Victoires</p>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="design">
                    <p class="counter-count" data-count="{{ maxScore }}">0</p>
                    <p class="design-p">Score max</p>
                </div>
            </div>
        </div>
    </div>
</div>

