{% extends "base.html.twig" %}

{% block body %}

    {% include "component/_nav.html.twig" %}

    <main role="main">
        {% block content '' %}
    </main>

    {% include "component/_footer.html.twig" %}

{% endblock %}