{% extends "base.html.twig" %}

{% block body %}

    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
        </div>
    </div>

    {% include "component/_nav.html.twig" %}

    <main role="main">
        {% block content '' %}
    </main>

    {% include "component/_footer.html.twig" %}

{% endblock %}