{% extends "base.html.twig" %}

{% block body %}

    {% include "component/_nav.html.twig" %}

    <main role="main">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-4 col-xl-3 sidebar">
                    {% include "component/admin/_sidebar.html.twig" %}
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="row">
                        <div class="col-12 col-sm-12 pe-lg-4">
                            <div class="px-3 px-lg-0">
                                {% include 'component/flashBags/_all_messages.html.twig' %}
                                {% block content '' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sidebar') }}
{% endblock %}
