<html>
    <body>
        <h1>Votre compte employé chez Shinigami Laser</h1>
        <p>Votre compte employé a été créé</p>
        <p>Le mot de passe provisoire "password" vous a été affecté.</p>
        <p>Pensez à modifier votre mot de passe en vous rendant dans la rubrique "mon compte"</p>
    </body>
</html>